@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.no_scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no_scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

p,
h1,
h2,
h3,
h4 {
  @apply text-stone-800 dark:text-stone-300;
}

.NOT_IMPLEMENTED {
  @apply text-red-900 bg-stone-700 select-none;
}

.noise {
  background-image: url(../public/nnnoise.svg);
}

a {
  @apply dark:text-spotify_green text-spotify_black font-bold hover:underline transition-all duration-200;
}

.default {
  @apply noise bg-stone-900/10 hover:bg-stone-900/20 dark:bg-stone-300/10 dark:hover:bg-stone-300/20 text-stone-800 dark:text-stone-300 duration-300 transition-all rounded-md;
}

.default_static {
  @apply noise bg-stone-900/10 dark:bg-stone-300/10 duration-300 text-stone-800 dark:text-stone-300 transition-all rounded-md;
}
